html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.sketchContainer{
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;

  /* place it center of html */
  left: 50%;
  transform: translate(-50%);

  top: -64px;
}

.sketchContainer > iframe{
  position: absolute;
  border: none;
  z-index: -1;

  /* shift to hide p5 bar */
  width: 400px;
  height: 442px;
  top: -42px;
}