html, body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}
canvas {
  display: block;
}

.sketchContainer{
  position: relative;
  width: 100vw;
  height:100vh;
  overflow: hidden;

  top: -64px;
}

.sketchIframe{
  position: absolute;
  width: 100%;
  height:100%;

  overflow: hidden;
}